<form (ngSubmit)="sendFormData()" [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Enter email">
        <span class="text-bg-danger" *ngIf="loginForm?.get('email')?.errors?.['required']">Email is required</span>
        <span class="text-bg-danger" 
        *ngIf="loginForm?.get('email')?.errors?.['email']">Please Enter The Correct Email</span>
   
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
        placeholder="Password" autocomplete>
      <span class="text-bg-danger" *ngIf="loginForm.get('password')?.errors?.['required']">password is required</span>
    </div>
    <div class="form-check">
      <input type="checkbox" formControlName="remb" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click)="fileData()" class="btn btn-info">File Data Example</button>
  </form>