<table class="table" *ngIf="books" >
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Descriptions</th>
            <th><a [routerLink]="['/add-book']">Add</a></th>
<!-- <button class="btn btn-success"(click)="AddBook()">Add Book</button> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td><img src={{book.bookImage}} alt="">
            </td>
            <td>{{book.bookId}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.bookPrice|currency:"USD"}}</td>
            <td>{{book.bookSize}}</td>
            <td>{{book.bookDescription}}</td>
            <td><a [routerLink]="['/write-book', book.bookId]" >Edit</a> 
             <!--<button  class="btn btn-dark" (click)="editBook(book)">EditBook</button> -->
                <button class="btn btn-danger" (click)="delteBook(book.bookId)"> Del</button>
            </td>
        </tr>
    </tbody>
</table>
<!-- <book-write-edit-book [book]="bookToEdit"></book-write-edit-book> -->
<router-outlet></router-outlet>