<div class="container">
    <div class="row">
        <div class="col-4 mb-5" *ngFor="let book of books">
            <div class="card" style="width: 18rem;">
                <img src={{book.bookImage}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{book.bookName}}</h5>
                    <p class="card-text">{{book.bookDescription}}</p>
                    <a [routerLink]="['/books',book.bookId]" class="btn btn-primary">Read More</a>
                    <span style="margin-left: 50px; font-weight: bold;font-size: 22px;">{{book.bookPrice|currency:"USD"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>